
.login{
  background-color: #555;
  display: block;
  width: 500px;
  height: 300px;
  padding: 20px;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  border: 5px solid #da552f;
}
 
.login p{
  font: 1.3em sans-serif;
  line-height: 50px;
  font-weight: bold;
}
.login .checkbox {
  margin-right:10px ;
}

.login .edit {
  height: 30px;
  font-size: 1.1em;
  margin-left:10px ;
  border: 2px solid #da552f;
}

.login button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: #fff;
  color: #da552f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  line-height: 50px;
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;
  transition: all 0.2s;

}


.login button:hover{
  background: #da552f;
  color: #fff;
  border: 2px solid #fff;

}
#error{
  color:red;
}
