.user-list{
  max-width: 700px;
  margin: 100px auto ;
  padding: 0 10px;
}

.user-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.user-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}
.user-info{
  justify-content: space-between;
  display:flex;
}
.agrupar{
  width: 100%;
  height: auto;
  padding: 20px 0;
  background: #da552f;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  display:flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  border: solid #aaa;
  border-bottom-width: 0;
  border-top-width: 3px;
  border-right-width: 0;
  border-left-width: 0;
  z-index: 1;
}


.qt-grupo{
  height: 30px;
  font-size: 1.1em;
  margin-left:10px ;
  border-radius: 5px;
  width: 20 0px;
}

.btn-agrupar{
  width: 100px;
  height: 40px;
  margin-left: 20px;
  color:#da552f;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  background-color: #fff;
  transition: all 0.3s;
  margin-right: 40px;
}

.btn-agrupar:hover{
  border: 2px solid #fff;
  background-color: #da552f ;
  color: #fff;
  cursor: pointer;
}